{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        },
        "debug": false
      }
    ]
  ],
  "plugins": ["@babel/plugin-proposal-do-expressions", "babel-plugin-idx"]
}
