{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "8.9.4"
        }
      }
    ]
  ],
  "plugins": ["@babel/plugin-transform-modules-commonjs", "idx"]
}
